streamlit==1.38.0
tenacity>=8.1.0,<9
pillow>=9.5,<11

pandas==2.2.3
geopandas==1.0.1
shapely==2.0.6
plotly==5.24.1
matplotlib==3.10.0
folium==0.18.0
streamlit-folium==0.11.0
statsmodels==0.14.4
scipy==1.15.3
